name: Bump versions
on:
  workflow_call:
    inputs:
      version:
        description: The new version
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: The new version
        required: true
        type: string

jobs:
  bump-version:
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2026.1.8
      - name: Update version in pom.xml
        env:
          VERSION: ${{ inputs.version }}
        run: |
          snapshot_version="${VERSION}-SNAPSHOT"
          # Update version in root and all submodule pom.xml files
          mvn versions:set -DnewVersion="${snapshot_version}" -DgenerateBackupFiles=false
      - uses: peter-evans/create-pull-request@v8
        with:
          author: ${{ github.actor }} <${{ github.actor }}>
          commit-message: Prepare next development iteration
          title: Prepare next development iteration
          branch: bot/bump-project-version
          branch-suffix: timestamp
          base: master
          reviewers: ${{ github.actor }}
