name: Nightly
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  iris:
    name: IRIS sync to SonarCloud and SonarQube.us
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run IRIS
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: org.sonarsource.flex:flex
          primary_platform: Next
          shadow1_project_key: SonarSource_sonar-flex
          shadow1_platform: SQC-EU
          shadow2_project_key: SonarSource_sonar-flex
          shadow2_platform: SQC-US
